* {
margin: o;
padding: o;
box-sizing: border-box;
}

header{
 width: 100%;
 padding: 20px 0;
 margin: 0 auto; /* 中央寄せ（余白がないとできない）*/
 text-align: center;
}

.nav-list{
  border: solid rgba(160, 155, 155, 0.527);
  border-top-width: 2px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
}

.nav-list{
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main{
  width: 800px;
  height: 600px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main1{
  width: 200px;
  height: 200px;
  background-color:#e6ffe9;
}

.main2{
  width: 200px;
  height: 200px;
  background-color:#cbffd3;
}

.main3{
  width: 200px;
  height: 200px;
  background-color:#aeffbd;
}

.main4{
  width: 200px;
  height: 200px;
  background-color:#93ffab;
}

.main5{
  width: 200px;
  height: 200px;
  background-color:#f3ffd8;
}

.main6{
  width: 200px;
  height: 200px;
  background-color:#edffbe;
}

.main7{
  width: 200px;
  height: 200px;
  background-color:#e9ffa5;
}

.main8{
  width: 200px;
  height: 200px;
  background-color:#e4ff8d;
}

.main9{
  width: 200px;
  height: 200px;
  background-color:#d9e5ff;
}

.main10{
  width: 200px;
  height: 200px;
  background-color:#bad3ff;
}

.main11{
  width: 200px;
  height: 200px;
  background-color:#a4c6ff;
}

.main12{
  width: 200px;
  height: 200px;
  background-color:#8eb8ff;
}


footer{
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color:#848282;
}

.footer-text{
  color: #fff;
}