* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main{
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.main-box{
  margin-right: 30px;
  padding: 10px;
  width: 300px;
  background-color: #EEEEEE;
  position: relative;
}

.main-box:last-child{
  margin-right: 0;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.main-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}



section{
 margin-top: 15px;
 margin-bottom: 5px;
}

.main-img2{
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}



.main-img3{
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}




footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}
