*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
 margin: 50px auto;
 width: 960px;
}

.mainlist1{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#f5f5f5;
}

.mainlist2{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#ffffff;
}

.mainlist3{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#f5f5f5;
}

.mainlist4{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#ffffff;
}

.mainlist5{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#f5f5f5;
}

.mainlist6{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#ffffff;
}

.mainlist7{
  text-align: left;
  padding: 20px 0 20px 20px;
  background-color:#f5f5f5;
}

.main-visual{
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.main-visual1{
 margin: 0 5% 40px 0;
 height: 200px;
 width: 30%;
 background-color: orange;
}

.main-visual2{
  margin: 0 5% 40px 0;
  height: 200px;
  width: 30%;
  background-color: #ffd700;
 }

 .main-visual3{
  margin-bottom: 40px;
  height: 200px;
  width: 30%;
  background-color: #ffd700;
 }

 .main-visual4{
  margin: 0 5% 40px 0;
  height: 200px;
  width: 30%;
  background-color: #ffd700;
 }
 
 .main-visual5{
   margin: 0 5% 40px 0;
   height: 200px;
   width: 30%;
   background-color: orange;
  }
 
  .main-visual6{
   margin-bottom: 40px;
   height: 200px;
   width: 30%;
   background-color: #ffd700;
  }

  .main-visual7{
    margin: 0 5% 50px 0;
    height: 200px;
    width: 30%;
    background-color: #ffd700;
   }
   
   .main-visual8{
     margin: 0 5% 50px 0;
     height: 200px;
     width: 30%;
     background-color: #ffd700;
    }
   
    .main-visual9{
     margin-bottom: 50px;
     height: 200px;
     width: 30%;
     background-color: orange;
    }